@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;700&display=swap');

/* sets formatting for current weather box */
* {
    box-sizing: border-box;
}

/* styling for the navbar */
nav{
  background-color: rgb(67, 71, 75);
  color:white;
  padding: 30px;
  text-align:center;
  font-size: 40px;
  width:auto;
}

/* sets background image and body styling */
body {
  /* formatting for background image */
  background:url(./images/weather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  /* sets font for forecast boxes */
  font-family:'Roboto Slab', sans-serif;
  text-align: center;
  color: black;
}

/* sets search bar to left and flexes current weather to right */
.flex-container {
    display: flex;
    /* width:900px; */
}

/* sets formatting for overall container*/
/* search bar is not connected to this */

.container{
  padding: 50px;
}

/* formats search, weather, and forecast headers */
h1, h3,
h4 {
  font-family:'Roboto Slab', sans-serif;
  text-align: center;
  color: black;
}

/* formats overall forecast card */
/* pads forecast cards flush to search box */
.card-deck {
    padding-top: 5%;
    width:1000px;
    /* todo: fix overflow for forecast cards */
    overflow-y: auto;
}

/* sets formatting for all cards - search and forecast */
.card{
  background:grey;
  border: 3px solid white;
  border-radius: 15px;
  /* width: 1000px; */
  /* width:80%; */
}

.input-btn {
  /* sets search input width */
  width: 100%;
  /* input box */
  margin-bottom: 5%;
}

/* sets formatting search button */
#search-btn {
  padding: 5%;
  border: 3px solid white;
  border-radius: 15px;
  color: black;
  background-color: rgb(67, 71, 75);
}

/* sets formatting and text color of the city buttons*/
.cityButton {
  background-color: rgb(67, 71, 75);
  color: black;
  width: 100%;
  padding: 5%;
  margin-top: 10px;
  border: 3px solid white;
  border-radius: 15px;
    /* color: red; */
}

/* changes color of city button on hover */
#search-btn, .cityButton:hover {
  background-color: rgb(67, 71, 75);
}

/* todo: fix scroll on resize */
/* removed - this was the second box around each forecast day */
/* formats each forecast day */
/* .content-card {
  border: 3px solid white;
} */

/* sets formatting for current weather bar */
#weather-panel {
  background-color: grey;
  margin:10px;
  border: 3px solid white;
  border-radius: 15px;
}


/* media query for smaller screens */
@media screen and (max-width: 1130px) {
  main, header {
    flex-direction: column;
  }

  body {
    background:url(./images/small-weather.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow-y: auto; */
    height:100%;
  }

  .flex-container {
    display: flex;
    width:900px;
}

}

