@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;700&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Roboto Slab', sans-serif;
  background:url(./images/weather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  /* todo: check scroll hidden */
  /* enables scroll */
  overflow-x: scroll;
  height:100vh;
}

nav{
  background-color: lightslategray;
  color:white;
  padding: 30px;
  text-align:center;
  font-size: 40px;
}

h3{
  text-align: center;
}

/* todo: remove this */
/* .jumbotron{
  background:url(./images/weather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

.container{
  /* todo: check container padding ad spacing */

  padding: 20px;
  /* todo: fix font color */
  /* font color */
  /* color:white; */
}

#current{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#currentTime{
  /* todo: fix time font */
  font-size: 30px;
  font-weight: 100;
}

#city{
  font-size: 20px;
  font-weight: 100;
  text-align: right;
  color:white;
}
  
/* todo: fix box for current weather */
#current #currentWeather{
  display:flex;
  /* fix this width */
  width:40vw;
  /* position: absolute; */
  right:20px;
  flex-direction: column;
  justify-content: space-between;
  background:grey;
  padding:20px;
  border-radius: 15px;
  margin:10px;
  /* border */
  border:2px solid white;
}

#current .weatherItem, #today .weatherItem{
  display:flex;
  justify-content: space-between;
}

.weatherIcon{
  height: 100px;
  width: 100px;
  margin: auto;
  display: block;
}

.day{
  background:grey;
  display: flex;
  /* margin: 0 10px; */
  padding:10px;
  border-radius: 5px;
  border:2px solid white;
  text-align: center;
  /* test code to make sure I am targeting the right thing */
  /* background:white; */
}

#forecast{
  background:grey;
}

.weatherBlock{
  /* background:blue; */
  /* padding:20px; */
  /* position:fixed; */
  display:flex;
  /* font color */
  /* color:white; */
  width:100%;
  align-items:center;
  justify-content:center;
}

.dayLabel{
  padding: 5px 15px;
  background:darkgray;
  border-radius: 5px;
  border:2px solid white;
  text-align: center;
}

#today{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  padding: 20px;
}

#weatherBlock .weatherItem{
  display:flex;
  justify-content: space-between;
  /* padding:5px; */
  /* test code to make sure I am targeting the right thing */
  /* background:white; */

}

#forecast{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  margin: 50px 10px;
  padding:10px;
  border-radius: 5px;
  border:2px solid white;
  text-align: center;
  /* test code to make sure I am targeting the right thing */
  /* background:white; */
}

/* media query for medium screens */

/* todo: fix footer */
@media screen and (max-width: 992px) {
  .weatherBlock{
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
    padding:10px;
    /* todo: remove background color - for testing only */
    /* background:purple; */
  }

  #current #currentWeather{
    display:flex;
    /* fix this width */
    width:90vw;
}
}

/* media query for smaller screens */

/* todo: fix footer */
@media screen and (max-width: 768px) {
  .weatherBlock{
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
    padding:10px;
    /* todo: remove background color - for testing only */
    /* background:red; */
  }

  #current #currentWeather{
    display:flex;
    /* fix this width */
    width:90vw;
}

body {
  font-family:'Roboto Slab', sans-serif;
  background:url(./images/small-weather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* todo: check scroll hidden */
  /* enables scroll */
  overflow-x: scroll;
  height:100vh;
}

}

